    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loadavg1min" data-view="Graph" data-title="Server load" style="background-color:#47bbb3;" data-moreinfo="1 min intervals" ></div>
    </li>